@import "tailwindcss";

.swal2-confirm {
    background-color: rgb(0, 68, 255) !important;
}

.swal2-deny,
.swal2-cancel {
    background-color: rgb(255, 0, 0) !important;
}

.hero-slider .swiper-button-next,
.hero-slider .swiper-button-prev,
.movie-slider .swiper-button-next,
.movie-slider .swiper-button-prev {
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.hero-slider .swiper-button-next:hover,
.hero-slider .swiper-button-prev:hover,
.movie-slider .swiper-button-next:hover,
.movie-slider .swiper-button-prev:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 18px !important;
    font-weight: bold;
}

@keyframes animate-aurora {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.aurora-background {
    background-color: #000000;
    background-image:
        radial-gradient(ellipse at 20% 140%, rgba(0, 122, 122, 0.6) 0%, transparent 50%),
        radial-gradient(ellipse at 80% 140%, rgba(14, 165, 233, 0.6) 0%, transparent 50%);

    background-size: 200% 200%;

    animation: animate-aurora 9s ease-in-out infinite;
}

.glow-box {
    box-shadow: 0 0 4px rgba(255, 255, 255), 0 0 7px rgba(255, 255, 255);
}